USE [proyecto]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 10/24/2022 6:51:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[ID_CLIENTE] [int] IDENTITY(1,1) NOT NULL,
	[NIT] [varchar](30) NULL,
	[NOMBRE] [varchar](50) NULL,
	[APELLIDO] [varchar](50) NULL,
	[TELEFONO] [varchar](50) NULL,
	[DIRECCION] [varchar](50) NULL,
 CONSTRAINT [PK_CLIENTE] PRIMARY KEY CLUSTERED 
(
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETALLE_RENTA]    Script Date: 10/24/2022 6:51:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLE_RENTA](
	[ID_RENTA] [int] NOT NULL,
	[SERIE] [int] NOT NULL,
	[ID_DETALLE_RENTA] [int] IDENTITY(1,1) NOT NULL,
	[ID_VEHICULO] [int] NULL,
	[PRECIO_ALQUILER] [decimal](8, 2) NOT NULL,
 CONSTRAINT [PK_DETALLE_RENTA] PRIMARY KEY CLUSTERED 
(
	[ID_RENTA] ASC,
	[SERIE] ASC,
	[ID_DETALLE_RENTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEVOLUCION]    Script Date: 10/24/2022 6:51:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEVOLUCION](
	[ID_DEVOLUCION] [int] NOT NULL,
	[ID_RENTA] [int] NOT NULL,
	[SERIE] [int] NOT NULL,
	[FECHA] [datetime] NULL,
	[OBSERVACIONES] [varchar](100) NULL,
	[ID_USUARIO] [int] NULL,
	[DIAS_ATRASO] [int] NULL,
	[MORA] [decimal](18, 2) NULL,
 CONSTRAINT [PK_DEVOLUCION] PRIMARY KEY CLUSTERED 
(
	[ID_DEVOLUCION] ASC,
	[ID_RENTA] ASC,
	[SERIE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MARCA]    Script Date: 10/24/2022 6:51:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MARCA](
	[ID_MARCA] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [nvarchar](50) NULL,
 CONSTRAINT [PK__MARCA__A9FDC4BBCD0FDB6F] PRIMARY KEY CLUSTERED 
(
	[ID_MARCA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RENTA]    Script Date: 10/24/2022 6:51:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RENTA](
	[ID_RENTA] [int] NOT NULL,
	[SERIE] [int] NOT NULL,
	[ID_CLIENTE] [int] NOT NULL,
	[ID_USUARIO] [int] NOT NULL,
	[ID_TIPO_PAGO] [int] NOT NULL,
	[FECHA_PRESTAMO] [date] NOT NULL,
	[FECHA_DEVOLUCION] [date] NULL,
	[TOTAL] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_RENTA] PRIMARY KEY CLUSTERED 
(
	[ID_RENTA] ASC,
	[SERIE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SERIE]    Script Date: 10/24/2022 6:51:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERIE](
	[ID_SERIE] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](50) NULL,
 CONSTRAINT [PK_SERIE] PRIMARY KEY CLUSTERED 
(
	[ID_SERIE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_PAGO]    Script Date: 10/24/2022 6:51:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_PAGO](
	[ID_TIPO_PAGO] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](40) NULL,
 CONSTRAINT [PK__TIPO_PAG__5A5E9B595EE8264C] PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_PAGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_VEHICULO]    Script Date: 10/24/2022 6:51:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_VEHICULO](
	[ID_TIPO_VEHICULO] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [nvarchar](50) NULL,
 CONSTRAINT [PK__TIPO_VEH__4E5451B099E25B93] PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_VEHICULO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 10/24/2022 6:51:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[ID_USUARIO] [int] IDENTITY(1,1) NOT NULL,
	[USUARIO] [varchar](40) NULL,
	[PASSWORD] [varchar](30) NULL,
	[NOMBRE] [nvarchar](60) NULL,
	[ESTADO] [int] NULL,
 CONSTRAINT [PK__USUARIO__91136B9052FA2387] PRIMARY KEY CLUSTERED 
(
	[ID_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VEHICULO]    Script Date: 10/24/2022 6:51:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VEHICULO](
	[ID_VEHICULO] [int] IDENTITY(8,1) NOT NULL,
	[ID_MARCA] [int] NULL,
	[ID_TIPO_VEHICULO] [int] NULL,
	[ID_VEHICULO_ESTADO] [int] NULL,
	[MODELO] [varchar](50) NULL,
	[PRECIO_ALQUILER] [decimal](10, 2) NULL,
 CONSTRAINT [PK_VEHICULO] PRIMARY KEY CLUSTERED 
(
	[ID_VEHICULO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VEHICULO_ESTADO]    Script Date: 10/24/2022 6:51:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VEHICULO_ESTADO](
	[ID_VEHICULO_ESTADO] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [nvarchar](50) NULL,
 CONSTRAINT [PK__VEHICULO__AE84BB68AE27BA84] PRIMARY KEY CLUSTERED 
(
	[ID_VEHICULO_ESTADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DETALLE_RENTA]  WITH CHECK ADD  CONSTRAINT [FK_DETALLE_RENTA_RENTA] FOREIGN KEY([ID_RENTA], [SERIE])
REFERENCES [dbo].[RENTA] ([ID_RENTA], [SERIE])
GO
ALTER TABLE [dbo].[DETALLE_RENTA] CHECK CONSTRAINT [FK_DETALLE_RENTA_RENTA]
GO
ALTER TABLE [dbo].[DETALLE_RENTA]  WITH CHECK ADD  CONSTRAINT [FK_DETALLE_RENTA_VEHICULO] FOREIGN KEY([ID_VEHICULO])
REFERENCES [dbo].[VEHICULO] ([ID_VEHICULO])
GO
ALTER TABLE [dbo].[DETALLE_RENTA] CHECK CONSTRAINT [FK_DETALLE_RENTA_VEHICULO]
GO
ALTER TABLE [dbo].[DEVOLUCION]  WITH CHECK ADD  CONSTRAINT [FK_DEVOLUCION_RENTA] FOREIGN KEY([ID_RENTA], [SERIE])
REFERENCES [dbo].[RENTA] ([ID_RENTA], [SERIE])
GO
ALTER TABLE [dbo].[DEVOLUCION] CHECK CONSTRAINT [FK_DEVOLUCION_RENTA]
GO
ALTER TABLE [dbo].[DEVOLUCION]  WITH CHECK ADD  CONSTRAINT [FK_DEVOLUCION_USUARIO] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIO] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[DEVOLUCION] CHECK CONSTRAINT [FK_DEVOLUCION_USUARIO]
GO
ALTER TABLE [dbo].[RENTA]  WITH CHECK ADD  CONSTRAINT [FK_RENTA_CLIENTE] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTE] ([ID_CLIENTE])
GO
ALTER TABLE [dbo].[RENTA] CHECK CONSTRAINT [FK_RENTA_CLIENTE]
GO
ALTER TABLE [dbo].[RENTA]  WITH CHECK ADD  CONSTRAINT [FK_RENTA_PAGO] FOREIGN KEY([ID_TIPO_PAGO])
REFERENCES [dbo].[TIPO_PAGO] ([ID_TIPO_PAGO])
GO
ALTER TABLE [dbo].[RENTA] CHECK CONSTRAINT [FK_RENTA_PAGO]
GO
ALTER TABLE [dbo].[RENTA]  WITH CHECK ADD  CONSTRAINT [FK_RENTA_SERIE] FOREIGN KEY([SERIE])
REFERENCES [dbo].[SERIE] ([ID_SERIE])
GO
ALTER TABLE [dbo].[RENTA] CHECK CONSTRAINT [FK_RENTA_SERIE]
GO
ALTER TABLE [dbo].[RENTA]  WITH CHECK ADD  CONSTRAINT [FK_RENTA_USUARIO] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIO] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[RENTA] CHECK CONSTRAINT [FK_RENTA_USUARIO]
GO
ALTER TABLE [dbo].[VEHICULO]  WITH CHECK ADD  CONSTRAINT [FK_VEHICULO_ESTADO] FOREIGN KEY([ID_VEHICULO_ESTADO])
REFERENCES [dbo].[VEHICULO_ESTADO] ([ID_VEHICULO_ESTADO])
GO
ALTER TABLE [dbo].[VEHICULO] CHECK CONSTRAINT [FK_VEHICULO_ESTADO]
GO
ALTER TABLE [dbo].[VEHICULO]  WITH CHECK ADD  CONSTRAINT [FK_VEHICULO_MARCA] FOREIGN KEY([ID_MARCA])
REFERENCES [dbo].[MARCA] ([ID_MARCA])
GO
ALTER TABLE [dbo].[VEHICULO] CHECK CONSTRAINT [FK_VEHICULO_MARCA]
GO
ALTER TABLE [dbo].[VEHICULO]  WITH CHECK ADD  CONSTRAINT [FK_VEHICULO_TIPO] FOREIGN KEY([ID_TIPO_VEHICULO])
REFERENCES [dbo].[TIPO_VEHICULO] ([ID_TIPO_VEHICULO])
GO
ALTER TABLE [dbo].[VEHICULO] CHECK CONSTRAINT [FK_VEHICULO_TIPO]
GO
